<html lang="en">
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="https://foodchannel.com/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
    </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>RECOMMENDED</b></h4>
  {% for i in n %}
  <a class="w3-bar-item w3-button w3-hover-black" href="#">{{i}}</a>
    {% endfor %}
</nav>


<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">{{name}}</h1>
      <img style="width: 80%;" src="https://www.archanaskitchen.com/images/archanaskitchen/1-Author/sneha-archanaskitchen.com/Sweet__Spicy_Pineapple_Pani_Puri_Recipe_.jpg"/>
      <p style="width: 50%;">
<b style="font-size: 20px;"> 
the Paani:</b>
1 cup sonth chutney
2 cups mint leaves (firmly packed)
75 gms coriander leaves (ground together)
6-7 Green chillies
2 tbsp cumin seeds (powdered), roasted
1 tbsp salt
1 tsp chilli powder
8 cups water
<b style="font-size: 20px;"> 
Sonth ki Chutney:</b style="font-size: 20px;">
100 gms tamarind (soaked in warm water for half an hour at least)
3/4 cup jaggery (broken)
2 tsp salt
1 tsp black rock salt, powdered
1/2 tsp garam masala
1 tsp dry ginger, powdered
1/4 tsp black pepper, powdered
1/4 tsp chilli powder
1 tsp chaat masala
<b  style="font-size: 20px;">
paani Poori:</b>
24 Puffed papri
1 cup [otatoes (diced), boiled
1 cup chickpeas, boiled
Paani poori ka paani

<div style="color: teal; font-size: 30px;">
How to Make Paani Poori
</div>
Prepare the Paani:
1.Mix all the ingredients together, chill and serve.
For the Sonth ki Chutney:
1.Strain the tamarind through a strainer, adding water, to facilitate this.
2.Add enough water to the pulp, to make it into a pouring consistency.
3.Mix in the rest of the ingredients and bring to a boil, lower the heat, and let it simmer, stirring occasionally, till it thickens a bit.
For eating the Paani Poori:
1.Break a hole in the center of the thinner side of the poori,
and fill with a little potato and chick pea and sonth if so desired, then fill with the paani 

</p>

      </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">Ingredients to buy</p>
      {% for i in g %}
        <p href="{{a}}">{{ i }}</li>
        {% endfor %}
        <br>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>

  

  
  <!-- Pagination -->
  

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

     </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>